{% load staticfiles %}
{% include 'navbar.html' %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

  <body>
  <div class="maincontainer">

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
      <div class="label">{{label}}</div><br>
        <div class="row">
          
            <div class="col-sm-6">
              <div class="bucket">
                <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
                  <div class="custom-title">{{heading}}</div><br/><br/>
                  <div class="custom-title">{{title}}</div><br/><br/>
                    <div class="asset-form form-edit">
                     {{form|crispy}}
                    </div>
                    <b><a href="/accounts/login/">{{signin}}</a></b>
                    {% if request.user.is_authenticated %}
                      <!-- <div class ='aligncenter'><input class='btn btn-primary enable-depreciation' value='Enable / Disable Depreciation'/></div><br><br> -->
                      <input class='btn btn-danger save'  type='submit' value='Save'/>
                      <input class='btn btn-warning edit' value='Edit'/>
                      <input class='btn btn-primary viewmore' value='View More'/>
                      <a href="{% url 'uimsapp:employee_list' %}"><input class='btn btn-primary cancel-submit' value='Cancel'/></a>
                    {% endif %}
                </form>
              </div><!--Bucket class end-->
            </div> <!--jumboton col 1-->
            {% if request.user.is_authenticated %}
                <div class="col-sm-6 aligncenter asset-image">
                  <!-- <img src="/static/img/assets.png"> -->
                  {% if instance.passport_picture %}
                  <div class="passport-picture">
                    <div class="passport-picture-title">Current Passport Picture</div>
                    <img src="{{instance.passport_picture.url}}" class="img-responsive">
                  </div>
                  {% endif %}
                </div><!--  jumboton col 2 of jumbotron col 2 -->
            {% endif %}
        
        </div> <!--jumboton col 1-->
          
        </div> <!--jumboton row-->
        </div> <!--jumboton row-->
      </div> <!--jumbotron end-->

    </div> <!-- /container -->
    <a href="#" class="scrollToTop">Scroll To Top</a>
    </div>

  </body>
</html>