{% load staticfiles %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <link rel="icon" href="../../favicon.ico"> -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/navbar-fixed-top.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
        <link href="{% static 'js/jqueryui/jquery-ui.css' %}" rel="stylesheet">
        <link href="{% static 'js/jqueryui/jquery-ui.structure.css' %}" rel="stylesheet">
        <link href="{% static 'js/jqueryui/jquery-ui.theme.css' %}" rel="stylesheet">
        <link href="{% static 'js/icheck/skins/square/blue.css' %}" rel="stylesheet">
        <link href="{% static 'js/nprogress/nprogress.css' %}" rel="stylesheet">

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
        <script src="{% static 'js/jquery-1.12.3.js' %}"></script>
        <script src="{% static 'js/jqueryui/jquery-ui.js' %}"></script>
        <script src="{% static 'js/pager/paging.js' %}"></script>
        <script src="{% static 'js/moment.min.js' %}"></script>
        <link href="{% static 'js/icheck/skins/square/blue.css' %}" rel="stylesheet">
        <link href="{% static 'js/nprogress/nprogress.css' %}" rel="stylesheet">
        <script src="{% static 'js/icheck/icheck.min.js' %}"></script>
        <script src="{% static 'js/nprogress/nprogress.js' %}"></script>
        <!-- <script src="{% static 'js/datetimepicker-master/build/jquery.datetimepicker.full.min.js' %}"></script> -->
        <script src="{% static 'js/custom.js' %}"></script>

        <title>PMIS</title>

    </head>

  <body>


  <div class="maincontainer">

    <div class="status message">
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}><font size="4">{{ message }}</font></li>
        {% endfor %}
      </ul>
    </div><!--status message end-->

    <div class="container">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
      {% if request.user.is_authenticated %}
      <div class="label">{{label}}</div><br>
        <div class="row">

            <div class="col-sm-3">
              <div class="bucket">
                <div class="asset-form">
                  <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
                    <div class="custom-title">{{headdashboard}}</div><br/><br/>
                      <div class="asset-form">
                            <p align="center" style="font-size: 14px"><b>Personal Management Office Human Resource Information System </b></p>
                            <div class="staffprofile-view-header" align="center"><img src="{% static 'img/gmcoatofarms.png' %}" 
                            width="100" height="100"alt=""></div>


                     </div><br><br> <!--jumboton col 1-->
                       
                      </div>
                      <b><a href="/accounts/login/">{{signin}}</a></b>
                      {% if request.user.is_authenticated %}

                      <div class="navbarmenu1">
                        <div class="navbarmenu">
                        <li class="active"><a href="/"><img src="/static/img/home_ico.png" style="margin-right: 15px">Home</a></li><br><br>
                        </div>
                         <div class="navbarmenu">
                        <li class="active"><a href="/uimsapp/employee/create/"><img src="/static/img/addemp.png" style="margin-right: 16px">Add New Employee</a></li><br><br></div>
                        <div class="navbarmenu">
                        <li class="active"><a href="/uimsapp/employee_list/"><img src="/static/img/emplist.png" style="margin-right: 16px">List Of Employees</a></li><br><br></div>
                        <div class="navbarmenu">
                        <li class="active"><a href="/"><img src="/static/img/promotion.png" style="margin-right: 16px">Promotions</a></li><br><br></div>
                        <div class="navbarmenu">
                        <li class="active"><a href="/"><img src="/static/img/vacation.png" style="margin-right: 16px">Vacation</a></li><br><br></div>
                         <div class="navbarmenu">
                        <li class="active"><a href="/"><img src="/static/img/audit.png" style="margin-right: 16px">Audit Trail</a></li><br><br></div>
                        <div class="navbarmenu">
                        <li class="active"><a href="/"><img src="/static/img/searchemp.png" style="margin-right: 16px">Search</a></li><br><br></div>
                        <div class="navbarmenu">
                        <li class="active"><a href="/"><img src="/static/img/setting.png" style="margin-right: 16px">Setting</a></li><br><br>
                        </div>
                      </div>
                      <br><br>

                      <div class="loginlogout">
                        {% if request.user.is_authenticated %}
                         <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user}} <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="/admin/password_change">Change Password</font></a></li>
                            <li><a href="/accounts/login">Login as another user</font></a></li>
                          </ul>
                        </li>

                        {% if request.user.is_authenticated %}
                        <li><a href="/accounts/logout"><font color="red" class="btn btn-danger">Logout</font></a></li>
                        {% else %}
                        <li><a href="/accounts/login"><font color="red">Login</font></a></li>
                        {% endif %}

                        <!-- <li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li> -->
                        {% endif %}
      
                      

                        </div>



                      
                        <!-- <input class='btn btn-primary enable-depreciation' value='Enable / Disable Depreciation'/> -->
<!--                         <a href="{% url 'uimsapp:employee_list' %}"><input class='btn btn-primary cancel-submit' value='Cancel'/></a> -
                      {% endif %}
                  </form>
                </div><! End asset-form-->
              </div><!--Bucket class end-->
            </div> <!--jumboton col 1-->
          
            {% if request.user.is_authenticated %}
            {% for instance in querysetProfile %}
                <div class="col-sm-9 aligncenter gratuity-image">
                 <div class="staffprofile-view-header" align="center"><img src="{% static 'img/gmcoatofarms.png' %}" 
               width="100" height="100"alt=""></div>
               <p align="center" style="font-size: 14px"><b>Employee Personal Profile Information </b></p>

                  <div class="col-sm-9">
                    <div class="row">
                      <div class="col-sm-9">
                        <div class="profile_img">
                          {% if instance.passport_picture.url != none %}
                          <img class="img" src='{{instance.passport_picture.url}}' class='img-responsive' >
                          {% else %}<img src='' class='img-responsive' >
                          {% endif %}
                          <br><span class="img_id" style="color: white; font-weight: bolder;">EMPID#: {{instance.employment_number}}</span>
                        </div>
                      </div><!--Image-display-->
                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>TITLE:</b><br>{{instance.title}}<br>
                            </div>
                      </div>

                      <div class="col-sm-4 profile_detail">
                            <div>
                              <b>FULL NAME:</b><br>{{instance.name}}<br>
                            </div>
                      </div>
                      <div class="col-sm-2 profile_detail">
                            <div>
                              <b>GENDER:</b><br>{{instance.gender}}<br>
                            </div>
                      </div>
                      <div class="col-sm-2 profile_detail">
                            <div>
                              <b>NATIONALITY:</b><br>{{instance.nationality}}<br>
                            </div>
                      </div>
                      <div class="col-sm-2 profile_detail">
                            <div>
                              <b>ID CARD NUMBER:</b><br>{{instance.id_card_number}}<br>
                            </div>
                      </div>
                      <div class="col-sm-2 profile_detail">
                            <div>
                              <b>HOME COUNTRY:</b><br>{{instance.home_country}}<br>
                            </div>
                      </div>
                      <div class="col-sm-2 profile_detail">
                            <div>
                              <b>RESIDENCE:</b><br>{{instance.residence}}<br>
                            </div>
                      </div>
                      <div class="col-sm-2 profile_detail">
                            <div>
                              <b>CONTACT NUMBER:</b><br>{{instance.contact_number}}<br>
                            </div>
                      </div>
                      <div class="col-sm-2 profile_detail">
                            <div>
                              <b>EMAIL ADDRESS:</b><br>{{instance.email_address}}<br>
                            </div>
                      </div>
<!--                     <div class="col-sm-12"> 000111
                    <div class="row">
 -->
                        <div class="col-sm-3 profile_detail">
                            <div>
                              <b>STATUS:</b><br>{{instance.status}}<br>
                            </div>
                        </div>
                        <div class="col-sm-3 profile_detail">
                            <div>
                              <b>STATUS START DATE:</b><br>{{instance.status_start_date}}<br>
                            </div>
                        </div>
                        <div class="col-sm-3 profile_detail">
                            <div>
                              <b>STATUS END DATE:</b><br>{{instance.status_end_date}}<br>
                            </div>
                        </div>
                        <div class="col-sm-2 profile_detail">
                            <div>
                              <b>VACATION:</b><br>{{instance.vocation}}<br>
                            </div>
                        </div>
                        <div class="col-sm-3 profile_detail">
                            <div>
                              <b>VACATION START DATE:</b><br>{{instance.vocation_start_date}}<br>
                            </div>
                      </div>
                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>VACATION END DATE:</b><br>{{instance.vocation_end_date}}<br>
                            </div>
                      </div>
                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>ALERT DAYS:</b><br>{{instance.alert_days}}<br>
                            </div>
                      </div>
                      <div class="col-sm-2 profile_detail">
                            <div>
                              <b>DATE OF BIRTH:</b><br>{{instance.dob}}<br>
                            </div>
                      </div>
                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>PLACE OF BIRTH:</b><br>{{instance.place_of_birth}}<br>
                            </div>
                      </div>
                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>FIRST APPOINTMENT DATE:</b><br>{{instance.fad}}<br>
                            </div>
                      </div>
                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>CURRENT APPOINTMENT DATE:</b><br>{{instance.cad}}<br>
                            </div>
                      </div>
                      <div class="col-sm-2 profile_detail">
                            <div>
                              <b>RETIREMENT DATE:</b><br>{{instance.date_of_retirement}}<br>
                            </div>
                      </div>
                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>CONFIRMED DATE:</b><br>{{instance.cd}}<br>
                            </div>
                      </div>
                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>DESIGNATION:</b><br>{{instance.designation}}<br>
                            </div>
                        </div>
                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>BUDGET ENTITY:</b><br>{{instance.budget_entity}}<br>
                            </div>
                      </div>
                      <div class="col-sm-2 profile_detail">
                            <div>
                              <b>REGION:</b><br>{{instance.division}}<br>
                            </div>
                      </div>
                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>DUTY STATION:</b><br>{{instance.duty_station}}<br>
                            </div>
                      </div>
                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>GRADE:</b><br>{{instance.grade}}<br>
                            </div>
                      </div>
                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>GRADE POINT:</b><br>{{instance.grade_point}}<br>
                            </div>
                      </div>
                      <div class="col-sm-2 profile_detail">
                            <div>
                              <b>NEXT OF KIN:</b><br>{{instance.next_of_kin}}<br>
                            </div>
                      </div>

                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>TIN NUMBER:</b><br>{{instance.tin_number}}<br>
                            </div>
                      </div>
                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>MARITAL STATUS:</b><br>{{instance.marital_status}}<br>
                            </div>
                      </div>
                      <div class="col-sm-3 profile_detail">
                            <div>
                              <b>ADDED BY:</b><br>{{instance.added_by}}<br>
                            </div>
                      </div>
                      <div class="col-sm-5 profile_detail">
                            <div>
                              <b>UPDATED BY:</b><br>{{instance.updated_by}}<br>
                            </div>
                      </div>
                      <div class="col-sm-1 profile_detail">
                            <div>
                              <b></b><br><br>
                            </div>
                      </div>
                      <div class="col-sm-5 profile_detail">
                            <div>
                              <b>LAST UPDATED:</b><br>{{instance.last_updated}}<br>
                            </div>
                      </div>
                      <div class="col-sm-9 profile_detail2">
                            <div>
                              <b>QUALIFICATION:</b><br>{{instance.qualification}}<br>
                            </div>
                      </div>


                      <div class="leavecalc">
                      <!-- <a href=""><input class='btn btn-primary' value='LEAVE CALCULATION'/></a> -->
                      </div>
                     
          {% endfor %}

                    </div><!--End Row 2-->
                  </div><!--END col-sm-12 000111"-->
                </div><!--  jumboton col 2 of jumbotron col 2 -->
          {% endif %}

                </div><!-- End asset-form-->
              </div><!--Bucket class end-->
            </div> <!--jumboton col 1-->

        <a href="#"><div id="version-display" data-toggle="modal" data-target="#myModal">PMOHRIS Ver: 1.2</div></a>
          <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">System Information</h4>
              </div>
              <div class="modal-body">
                <div class="dev-info">
                  <p class=""><b>UNIFIED INFORMATION SYSTEMS MANAGEMENT</b></p>
                  <p>VERSION: 1.4</p><br>

                  <p class="modal-header">AVAILABLE MODULES: 
                  <p>HUMAN RESOURCE SYSTEM</p>
                  </p><br>
                  <!-- <p><img src="/static/img/sunusoftSmall.png" alt="Developer Logo"></a></p>                -->
                  <p class="modal-header">DEVELOPER:</p>
                  <p>ACCOUNTANT GENERAL'S DEPARTMENT</p>
                  <p>IT UNIT</p>
                  <!-- <p>Accoutant General's Department</p> -->
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

            {% if request.user.is_authenticated %}

            {% endif %}
        
        </div> <!--jumboton col 1-->
          {% else %}<div class="red aligncenter">You have to <a href="/accounts/login">sign</a> in before you can access this page</div>
          {% endif %}
        </div> <!--jumboton row-->
        </div> <!--jumboton row-->
      </div> <!--jumbotron end-->

    </div> <!-- /container -->
    <a href="#" class="scrollToTop">Scroll To Top</a>
    </div>

  </body>
</html>